.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}