.ui.menu {
    margin: 0rem !important;
    border-radius: 0rem !important;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: min-width 0.15s;
    -moz-transition: min-width 0.15s;
    -o-transition: min-width 0.15s;
    -ms-transition: min-width 0.15s;
    transition: min-width 0.15s;
  }  
    /*# sourceMappingURL=react-sidenav.css.map*/